.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
  border-top: 1px solid #8e8e8e;
  position: relative;

  @media screen and (max-width: 1599px) {
    padding-top: 36px;
    padding-bottom: 58px;
  }
  @media screen and (max-width: 1439px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  @media screen and (max-width: 779px) {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.footer__container {
  width: min(1280px, 100%);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1599px) {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
  }
  @media screen and (max-width: 1439px) {
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    align-items: start;
  }
  @media screen and (max-width: 779px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  color: #fff;

  @media screen and (max-width: 1439px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 779px) {
    margin-bottom: 10px;
    font-size: 32px;
  }
}

.footer__socials {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: 1439px) {
    margin-left: 0;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 779px) {
    margin-bottom: 30px;
    gap: 10px;
  }

  a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms ease;

    @media screen and (max-width: 779px) {
      width: 32px;
      height: 32px;

      svg {
        width: 20px;
      }
    }

    &:hover {
      background-color: #ccc;

      svg {
        transition: scale 200ms ease;
        scale: 1.15;
      }
    }
  }
}

.footer__navigation {
  margin-left: auto;
  margin-right: 40px;
  display: flex;
  gap: 30px;

  @media screen and (max-width: 1439px) {
    margin-left: 0;
    flex-direction: column;
  }
  @media screen and (max-width: 779px) {
    gap: 20px;
  }

  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 105%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transition: filter 200ms ease;

    &:hover {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(1);
    }
  }
}

.footer__btn {
  width: 128px;
  height: 47px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 105%;
  text-transform: uppercase;
  color: #000;
  transition: filter 200ms ease;

  @media screen and (max-width: 1439px) {
    width: 130px;
    height: 41px;
    font-size: 14px;
    position: absolute;
    top: 40px;
    right: 50px;
  }
  @media screen and (max-width: 779px) {
    width: 118px;
    height: 39px;
    top: 33px;
    right: 20px;
    font-size: 12px;
  }

  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1);
  }
}
